@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #3333ff;
  --color-primary-dull: #0000e6;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}